##### I created this file to easily visualize the information

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### **How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.**

In [4]:
races_count = df['race'].value_counts()
races_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

##### **What is the average age of men?**

In [5]:
age_mean = df['age'].mean()
age_mean

38.58164675532078

In [170]:
age_men = df[df['sex'] == 'Male']
age_men = age_men['age'].mean()
age_men

39.43354749885268

##### **What is the percentage of people who have a Bachelor's degree?**

In [6]:
percent_all = (df['education'].value_counts() / df['education'].count()) * 100
percent_all

HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64

In [7]:
percent_bachelor = (len(df[df['education'] == 'Bachelors']) * 100) / len(df)
percent_bachelor

16.446055096587944

In [8]:
percent_bachelor2 = percent_all['Bachelors']
percent_bachelor2

16.44605509658794

##### **Percentage of people with higher education**

In [9]:
perc_high = (len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]) * 100) / len(df)
perc_high

23.006050182733947

##### **Percentage of people without higher education**

In [10]:
perc_lower = (len(df[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]) * 100) / len(df)
perc_lower

76.99394981726606

##### **What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?**

In [11]:
df2 = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
percent_advanced = (len(df2[df2['salary'] == '>50K']) * 100) / len(df2)
percent_advanced

46.535843011613935

##### **What percentage of people without advanced education make more than 50K?**

In [12]:
df2 = df[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]
percent_lower = (len(df2[df2['salary'] == '>50K']) * 100) / len(df2)
percent_lower

17.3713601914639

##### **What is the minimum number of hours a person works per week (hours-per-week feature)?**

In [13]:
min_hours = df['hours-per-week'].min()
min_hours

1

##### **What percentage of the people who work the minimum number of hours per week have a salary of >50K?**

In [167]:
num_worker_min_hours = len(df[df['hours-per-week'] == min_hours])
num_worker_min_hours

20

In [14]:
count_min = len(df[(df['hours-per-week'] == min_hours) & (df['salary'] == '>50K')])
count_min

2

In [168]:
percent_one = (len(df[(df['hours-per-week'] == min_hours) & (df['salary'] == '>50K')]) * 100) / num_worker_min_hours
percent_one

10.0

##### **Highest earning country**
*INCORRECT*

In [72]:
country_counts = pd.DataFrame(df[df['salary'] == '>50K'].value_counts(subset=['native-country']))
country_counts
highest_country = (country_counts.iloc[0].name)[0]
highest_country

'United-States'

In [101]:
country_counts = df[df['salary'] == '>50K'].value_counts(subset=['native-country'])
country_counts.index[0][0]

'United-States'

In [158]:
df3 = country_counts.reset_index(level=0)
df3.set_index(keys='native-country', inplace=True)
df3[0].index
#series1 = pd.Series(data=df3, index=df3['native-country'])
series1 = df3[0]

##### **What country has the highest percentage of people that earn >50K?**
*INCORRECT*

In [102]:
highest_country_percent = (country_counts[0] * 100) / len(df[df['salary'] == '>50K'])
highest_country_percent

91.45517153424308

##### **What country has the highest percentage of people that earn >50K and what is that percentage?**

In [166]:
people_country = df['native-country'].value_counts()
people_country
#print(len(people_country), len(country_counts))
percent_people_rich = (series1 * 100) / people_country
percent_people_rich.sort_values(ascending=False, inplace=True)
country_percent_rich = percent_people_rich.index[0]
percent_rich = percent_people_rich[0]
print(country_percent_rich, percent_rich)

Iran 41.86046511627907

##### **Identify the most popular occupation for those who earn >50K in India.**

In [91]:
popular_ocu_ind = pd.DataFrame(df[df['salary'] == '>50K'].value_counts(subset=['occupation']))
popular_ocu_ind = (popular_ocu_ind.iloc[0].name)[0]
popular_ocu_ind

'Exec-managerial'

In [96]:
popular_ocu_ind = (df[df['salary'] == '>50K'].value_counts(subset=['occupation'])).index[0][0]
#popular_ocu_ind.index[0][0]
popular_ocu_ind

'Exec-managerial'

In [108]:
popular_ocu_ind = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')].value_counts(subset=['occupation']).index[0][0]
popular_ocu_ind

'Prof-specialty'