##### I created this file to easily visualize the information

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### **How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.**

In [7]:
races_count = df['race'].value_counts()
races_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

##### **What is the average age of men?**

In [10]:
age_mean = df['age'].mean()
age_mean

38.58164675532078

##### **What is the percentage of people who have a Bachelor's degree?**

In [17]:
percent_all = (df['education'].value_counts() / df['education'].count()) * 100
percent_all

HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64

In [14]:
percent_bachelor = (len(df[df['education'] == 'Bachelors']) * 100) / len(df)
percent_bachelor

16.446055096587944

In [18]:
percent_bachelor2 = percent_all['Bachelors']
percent_bachelor2

16.44605509658794

##### **What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?**