##### I created this file to easily visualize the information

In [52]:
import pandas as pd

In [53]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### **How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.**

In [54]:
races_count = df['race'].value_counts()
races_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

##### **What is the average age of men?**

In [55]:
age_mean = df['age'].mean()
age_mean

38.58164675532078

In [56]:
age_men = df[df['sex'] == 'Male']
age_men = age_men['age'].mean()
age_men

39.43354749885268

##### **What is the percentage of people who have a Bachelor's degree?**

In [57]:
percent_all = (df['education'].value_counts() / df['education'].count()) * 100
percent_all

HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64

In [58]:
percent_bachelor = (len(df[df['education'] == 'Bachelors']) * 100) / len(df)
percent_bachelor

16.446055096587944

In [59]:
percent_bachelor2 = percent_all['Bachelors']
percent_bachelor2

16.44605509658794

##### **Percentage of people with higher education**

In [60]:
perc_high = (len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]) * 100) / len(df)
perc_high

23.006050182733947

##### **Percentage of people without higher education**

In [61]:
perc_lower = (len(df[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]) * 100) / len(df)
perc_lower

76.99394981726606

##### **What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?**

In [62]:
df2 = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]
percent_advanced = (len(df2[df2['salary'] == '>50K']) * 100) / len(df2)
percent_advanced

46.535843011613935

##### **What percentage of people without advanced education make more than 50K?**

In [63]:
df2 = df[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]
percent_lower = (len(df2[df2['salary'] == '>50K']) * 100) / len(df2)
percent_lower

17.3713601914639

##### **What is the minimum number of hours a person works per week (hours-per-week feature)?**

In [64]:
min_hours = df['hours-per-week'].min()
min_hours

1

##### **What percentage of the people who work the minimum number of hours per week have a salary of >50K?**

In [65]:
num_worker_min_hours = len(df[df['hours-per-week'] == min_hours])
num_worker_min_hours

20

In [66]:
count_min = len(df[(df['hours-per-week'] == min_hours) & (df['salary'] == '>50K')])
count_min

2

In [67]:
percent_one = (len(df[(df['hours-per-week'] == min_hours) & (df['salary'] == '>50K')]) * 100) / num_worker_min_hours
percent_one

10.0

##### **Highest earning country**
*INCORRECT*

In [68]:
country_counts = pd.DataFrame(df[df['salary'] == '>50K'].value_counts(subset=['native-country']))
country_counts
highest_country = (country_counts.iloc[0].name)[0]
highest_country

'United-States'

In [69]:
country_counts = df[df['salary'] == '>50K'].value_counts(subset=['native-country'])
country_counts.index[0][0]

'United-States'

In [70]:
df3 = country_counts.reset_index(level=0)
df3.set_index(keys='native-country', inplace=True)
df3[0].index
#series1 = pd.Series(data=df3, index=df3['native-country'])
series1 = df3[0]
series1

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
Poland                  12
France                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Yugoslavia               6
Hong                     6
Ireland                  5
Vietnam                  5
Ecuador                  4
Haiti                    4
Portugal                 4
Scotland                 3
Thailand                 3
Hungary                  3
Guatemala                3
Laos                     2
Dominican-Republic       2
Peru                     2
Trinadad&Tobago          2
Columbia                 2
Nicaragua                2
Honduras                 1
Name: 0, dtype: int64

In [105]:
test_country_counts = df[df['salary'] == '>50K']
test_country_counts.drop(labels=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week'], axis=1, inplace=True)
test_country_counts.set_index(keys='native-country', inplace=True)
test_series_1 = test_country_counts.value_counts(subset=['native-country'])
test_series_1
df3 = test_series_1.reset_index(level=0)
df3.set_index(keys='native-country', inplace=True)
test_series_1 = df3[0]
test_series_1.index
#test_series = test_country_counts['salary']
#test_series

C:\Users\casa\AppData\Local\Temp\ipykernel_3888\1787866600.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_country_counts.drop(labels=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week'], axis=1, inplace=True)

Index(['United-States', '?', 'Philippines', 'Germany', 'India', 'Canada',
       'Mexico', 'England', 'Italy', 'Cuba', 'Japan', 'China', 'Taiwan',
       'Iran', 'South', 'Poland', 'France', 'Puerto-Rico', 'Jamaica',
       'El-Salvador', 'Greece', 'Cambodia', 'Yugoslavia', 'Hong', 'Ireland',
       'Vietnam', 'Ecuador', 'Haiti', 'Portugal', 'Scotland', 'Thailand',
       'Hungary', 'Guatemala', 'Laos', 'Dominican-Republic', 'Peru',
       'Trinadad&Tobago', 'Columbia', 'Nicaragua', 'Honduras'],
      dtype='object', name='native-country')

In [120]:
testing_something = df.pivot_table(columns='salary', index='native-country', aggfunc='size')
testing_something['>50K']
#testing_2 = testing_something[testing_something['salary'] == '>50K']
testing_2 = testing_something['>50K']
testing_2

native-country
?                              146.0
Cambodia                         7.0
Canada                          39.0
China                           20.0
Columbia                         2.0
Cuba                            25.0
Dominican-Republic               2.0
Ecuador                          4.0
El-Salvador                      9.0
England                         30.0
France                          12.0
Germany                         44.0
Greece                           8.0
Guatemala                        3.0
Haiti                            4.0
Holand-Netherlands               NaN
Honduras                         1.0
Hong                             6.0
Hungary                          3.0
India                           40.0
Iran                            18.0
Ireland                          5.0
Italy                           25.0
Jamaica                         10.0
Japan                           24.0
Laos                             2.0
Mexico                          33.0
Nicaragua                        2.0
Outlying-US(Guam-USVI-etc)       NaN
Peru                             2.0
Philippines                     61.0
Poland                          12.0
Portugal                         4.0
Puerto-Rico                     12.0
Scotland                         3.0
South                           16.0
Taiwan                          20.0
Thailand                         3.0
Trinadad&Tobago                  2.0
United-States                 7171.0
Vietnam                          5.0
Yugoslavia                       6.0
Name: >50K, dtype: float64

##### **What country has the highest percentage of people that earn >50K?**
*INCORRECT*

In [71]:
#highest_country_percent = (country_counts[0] * 100) / len(df[df['salary'] == '>50K'])
#highest_country_percent

##### **What country has the highest percentage of people that earn >50K and what is that percentage?**

In [72]:
people_country = df['native-country'].value_counts()
people_country
#print(len(people_country), len(country_counts))
percent_people_rich = (series1 * 100) / people_country
percent_people_rich.sort_values(ascending=False, inplace=True)
country_percent_rich = percent_people_rich.index[0]
percent_rich = percent_people_rich[0]
print(country_percent_rich, percent_rich)

Iran 41.86046511627907

##### **Identify the most popular occupation for those who earn >50K in India.**

In [73]:
popular_ocu_ind = pd.DataFrame(df[df['salary'] == '>50K'].value_counts(subset=['occupation']))
popular_ocu_ind = (popular_ocu_ind.iloc[0].name)[0]
popular_ocu_ind

'Exec-managerial'

In [74]:
popular_ocu_ind = (df[df['salary'] == '>50K'].value_counts(subset=['occupation'])).index[0][0]
#popular_ocu_ind.index[0][0]
popular_ocu_ind

'Exec-managerial'

In [131]:
popular_ocu_ind = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')].value_counts(subset=['occupation']).index[0][0]
popular_ocu_ind

'Prof-specialty'

In [130]:
testing = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
testing2 = testing.pivot_table(columns='occupation', index='native-country', aggfunc='size')
testing2.iloc[0]
testing3 = testing2.iloc[0]
testing3.idxmax()

'Prof-specialty'